<div class="home">
    <div class="mainHader">
        <h1>Todo App</h1>
        <h2>By Matan Poor</h2>
        <h4>20/06/2021</h4>
    </div>
    <div class="buttons">
        <button class="buttonNewList"
        mat-icon-button
        routerLink="/lists/-1/edit"
        >Create new list</button>
        <button class="buttonAllLists"
        mat-icon-button
        routerLink="/lists"
        >View all lists</button>
        <button class="buttonAllItems"
        mat-icon-button
        routerLink="/items"
        >View all items</button>
    </div>
</div>


<app-info></app-info>

