
<div class="formWarper"  >
    <div class="form" [formGroup]="form">
        <div class="form-field" *ngIf="get('caption') as field">
            <label>caption</label>
            <input type="text" formControlName="caption">

        </div>

        <div class="form-field" *ngIf="get('description') as field">
            <label>Descrption</label>
            <textarea rows="4" formControlName="description"></textarea>
        </div>

        <div class="form-field" *ngIf="get('color') as field">
            <label>color</label>
            <select  formControlName="color">
                <option [style.color]="'red'" value="red">red</option>
                <option value="green">green</option>
                <option value="blue">blue</option>
            </select>
        </div>

        <div class="form-field" [style.color]='color' *ngIf="get('icon') as field">
            <mat-form-field>
                <label>icon</label>
                <mat-select formControlName="icon">
                    <mat-option selected-value="home"><mat-icon>home</mat-icon></mat-option>
                    <mat-option selected-value="build"><mat-icon>build</mat-icon></mat-option>
                </mat-select>
                <!-- <app-errors-presenter [errors]="field.errors"></app-errors-presenter> -->
            </mat-form-field>
        </div>
    </div>

    <button  (click)="onGo()">Save List</button>
    
</div>
