
<div class="formWarper"  >
    <div class="form" *ngIf="form" [formGroup]="form" (ngSubmit)="form.valid">
        <div class="form-field" *ngIf="get('caption') as field">
            <label>caption</label>
            <input #caption type="text" formControlName="caption">
            <app-errors-presenter [errors]="field.errors"></app-errors-presenter>
        </div>

        <div class="form-field" *ngIf="get('description') as field">
            <label>Descrption</label>
            <textarea #description rows="4" formControlName="description"></textarea>
            <app-errors-presenter [errors]="field.errors"></app-errors-presenter>
        </div>

        <div class="form-field" *ngIf="get('color') as field">
            <label>color</label>
            <select #color formControlName="color" #selectedColor (change)="changeColor(selectedColor.value)" [style.color]="currentColor">
                <option *ngFor="let color of colors" [style.color]="color" [selected]="currentColor===color">{{color}}</option>
            </select>
            <app-errors-presenter [errors]="field.errors"></app-errors-presenter>
        </div>

        <div class="form-field"  *ngIf="get('icon') as field">
            <mat-form-field>
                <label>icon</label>
                <mat-select #iconSelect formControlName="icon" (change)="changeIcon(iconSelect.value)" >
                    <mat-option *ngFor="let icon of icons" [value]="icon" [style.color]="currentColor"><mat-icon>{{icon}}</mat-icon></mat-option>
                </mat-select>
                <app-errors-presenter [errors]="field.errors"></app-errors-presenter>
            </mat-form-field>
        </div>
    </div>
    <button [disabled]="form.invalid"  type="submit" (click)="onGo()">Save List</button>
    
</div>
