
.icons{
    font-size: xxx-large;
    padding-top : 0px;
}

.pathRoot{
    display: flex;
    grid-column: 1 / -1;
    color: tomato;
    margin-left: 10px;
    font-size: 13px;
}
.iconAndBtn{
    display: flex;
}
.btns{
    width: 70px;
    height: 23px;
    margin: auto 3px;
    background-color: rgb(209,233,243);
    border: 1px solid black;
    border-radius: 3px;
}
.discrptionAndBtn{
    display: flex;
    flex-direction: column;
    margin-left: 40px ;

}

.bt{
    display: flex;   
}

.bntAdd{
    width: 15px;
    margin-left: 5px;
    background-color: rgb(209,233,243);
    border: 1px solid black;
}
.inputArea{
    width: 250px;
    margin-left: 10px;
}
.form-field{
    display: flex;
    margin-top: 10px;
}
.checkBox{
    display: flex;
    margin: 5px auto auto 5px;
}
.list-detailsWarper{
    margin-left: 20px;
}

.completetrue{
    text-decoration: line-through brown;
    padding-left: 6px;
}
.completefalse{
    padding-left: 6px;
}
.btnDelete{
    width: 90px;
    height: 23px;
    margin: 0px 8px;
    background-color: rgb(245, 172, 172);
    border: 1px solid black;
    border-radius: 3px;
}
.btnCancel{
    width: 90px;
    height: 23px;
    margin: 0px 8px;
    background-color: rgb(172, 245, 176);
    border: 1px solid black;
    border-radius: 3px;
}


