
.icons{
    font-size: xxx-large;
    padding-top : 0px;
}

.pathRoot{
    display: flex;
    grid-column: 1 / -1;
    color: tomato;
    margin-left: 10px;
    font-size: 13px;
}
.iconAndBtn{
    display: flex;
}
.btns{
    width: 70px;
    height: 23px;
    margin: auto 3px;
    background-color: rgb(209,233,243);
    border: 1px solid black;
    border-radius: 3px;
}
.discrptionAndBtn{
    display: flex;
    flex-direction: column;
    margin-left: 40px ;

}

.bt{
    display: flex;   
}

.bntAdd{
    width: 15px;
    margin-left: 5px;
    background-color: rgb(209,233,243);
    border: 1px solid black;
}
.inputArea{
    width: 250px;
}
.inputAndBtnArea{
    display: flex;
}
.checkBox{
    display: flex;
    margin: 5px auto auto 5px;
}
.list-detailsWarper{
    margin-left: 20px;
}
