:host {
width:35% ; 
display: flex;

}

.bntWarper{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 20px auto 60px;
}

p{
    display: flex;
    grid-column: 1 / -1;
    color: tomato;
    margin-left: 10px;
    font-size: 13px;
}

h4{
    padding: 10px;
    color: rgb(118, 118, 238);
}

.icons{
    display: flex;
    font-size: 70px;
    padding-left: 40px;
    padding-bottom: 60px;
   
}

/* .btn{
    text-align: center;
    margin: 10px;
    padding: 20px;
    background-color: rgb(223, 224, 224);
    border-radius: 20px;
    width: 150px;
} */
button{
    height: 160px;
    width: 160px;
    margin: 6px;
    border-radius: 20px;
    border: 2px solid #e5e3e3;
}
button :hover{
    cursor: pointer;
    color: rgba(71, 43, 235, 0.555);
}


