
    <p>Lists</p>
    <div class="bntWarper">
      <div class="btn">
        <button 
          style="color: rgb(243, 147, 163)" 
          mat-icon-button
          routerLink="/lists/-1/edit">
          <mat-icon class="icons">add</mat-icon>
          <h1>Add New</h1>
        </button>
      </div>
     
      <div *ngFor="let b of lists$|async" class="btn">
        <button 
          style.color = {{b.color}}
          mat-icon-button
          routerLink="/list-details/{{b.id}}"> 
          <mat-icon class="icons"
          >{{b.icon}}</mat-icon>
          <h1>{{b.caption}}</h1>
        </button>
      </div>

    </div>
