:host{
    display: grid;
    grid-row: 1fr 1fr;
    grid-template-columns: repeat(3,200px);
    margin-top: 90px;
    justify-content: center;
}

div{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.material-icons{
    color: rgb(27,129,163);
    margin-bottom: 5px;
}
p{
    color: rgb(27,129,163);
    font-size: 13px;
}
h1{
    margin: auto;
    padding: 0px;
}



